[package]
name = "tegdb"
version = "0.2.0"
edition = "2021"

authors = ["Jack Yu"]

documentation = "https://docs.rs/tegdb"
homepage = "https://github.com/minifish-org/tegdb"
repository = "https://github.com/minifish-org/tegdb.git"

description = "The name TegridyDB (short for TegDB) is inspired by the Tegridy Farm in South Park and tries to correct some of the wrong database implementations, such as null support, implicit conversion support, etc."
license = "AGPL-3.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.43.0", features = ["full"] }

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
sled = "0.34.7" # for performance comparison
redb = "1.5.0"
rusqlite = "0.31.0"
tempfile = "3.10.1"

[[bench]]
name = "engine_basic_benchmark"
harness = false

[[bench]]
name = "engine_seq_benchmark"
harness = false
